<form method="POST" action="/books/<%= book.id %>" class="mt-5" enctype="multipart/form-data"
  accept-charset="utf-8">

  <div class="form-group">
    <label for="inputTitle">Заголовок</label>
    <input type="text" value="<%= book.title %>" name="title" class="form-control" id="inputTitle">
  </div>

  <div class="form-group">
    <label for="inputDesc">Описание</label>
    <textarea rows="3" name="description" class="form-control" id="inputDesc">
    <%= book.description %>
    </textarea>
  </div>

  <div class="form-group">
    <label for="inputTitle">Автор(ы)</label>
    <input type="text" value="<%= book.authors %>" name="authors" class="form-control" id="inputTitle">
  </div>

  <div class="form-group">
    <label for="inputTitle">Файл книги (только .txt, .doc, .docx или .pdf)</label>
    <input type="file" value="<%= book.fileBook %>" name="fileBook" class="form-control" id="inputTitle"
      accept=".txt, .png, .doc, .docx" required>
  </div>

  <div class="form-group text-right">
    <button type="submit" class="btn btn-primary">Сохранить</button>
  </div>

</form>