<%- include('../layouts/layout-start', {title: title}) %>

  <h1>
    <%= title %>
  </h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <h5 class="card-title">
            <%= book.title %>
          </h5>

          <p class="card-text">
            <%= book.description %>
          </p>

          <p class="card-text">
            Автор(ы): <%= book.authors %>
          </p>

          <p class="card-text">
            Количество просмотров книги: <%= book.counter %>
          </p>

          <div class="text-left">
            <a class="btn btn-sm btn-primary" href="/books/update/<%= book.id %>">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <form action="/books/delete/<%= book.id %>" method="POST" class="d-inline">
              <button class="btn btn-sm btn-danger">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </form>
          </div>

          <br />
          <% if (book.fileBook) { %>
            <a href="/books/<%= book.id %>/download">Скачать книгу</a>
            <% } else { %>
              <span>Книга не загружена!</span>
              <% } %>

                <br />
                <a href="/books/">Смотреть всю библиотеку</a>

        </div>
      </div>
    </div>
  </div>



  <!-- БЛОК С ОТЗЫВАМИ -->

  <h2>Привет <span id="username"><%= user.username %></span>!</h2>

  <div class="container" style="display: grid; grid-template-columns: 1fr 3fr;">

    <div>
      <div>
        <div class="form-group">
          <label for="text">Сообщение</label>
          <textarea placeholder="message" class="form-control" id="text"></textarea>
        </div>
        <div>
          <button type="submit" id="send-room" class="btn btn-primary">Оставить отзыв</button>
        </div>
      </div>
    </div>

    <div class="row" style="margin-left: 50px">
      <div class="col-4">
        <div id="list" class="list-group"></div>
      </div>
    </div>

  </div>

  <script>
    const roomName = location.pathname.split('/').pop();
    const socket = io.connect('/', { query: `roomName=${roomName}` });
    const boxList = document.querySelector('#list');
    const inputUsername = document.querySelector('#username');
    const inputText = document.querySelector('#text');
    const sendRoom = document.querySelector('#send-room');

    const getMessageTemplate = (msg) => {
      return (
        `
          <div class="list-group-item list-group-item-action" style="border: 1px solid lightgray; width: 380px; margin: 10px 0 10px">
            <div class="d-flex justify-content-between">
              <small>${msg.username}</small>
              <small class="text-muted">${msg.type}</small>
            </div>
            <p class="mb-1">${msg.text}</p>
          </div>
        `
      );
    };

    socket.on('message-to-room', (msg) => {
      const messageItem = getMessageTemplate(msg)
      boxList.insertAdjacentHTML('beforeend', messageItem)
    });

    sendRoom.addEventListener('click', () => {
      socket.emit('message-to-room', {
        username: inputUsername.textContent,
        text: inputText.value,
      })
    })
  </script>

  <%- include('../layouts/layout-end') %>