<%- include('../layouts/layout-start', {title: title}) %>

  <h1>
    <%= title %>
  </h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <h5 class="card-title">
            <%= book.title %>
          </h5>

          <p class="card-text">
            <%= book.description %>
          </p>

          <p class="card-text">
            Автор(ы): <%= book.authors %>
          </p>

          <p class="card-text">
            Количество просмотров книги: <%= book.counter %>
          </p>

          <div class="text-left">
            <a class="btn btn-sm btn-primary" href="/books/update/<%= book.id %>">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <form action="/books/delete/<%= book.id %>" method="POST" class="d-inline">
              <button class="btn btn-sm btn-danger">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </form>
          </div>

          <br />
          <% if (book.fileBook) { %>
            <a href="/books/<%= book.id %>/download">Скачать книгу</a>
            <% } else { %>
              <span>Книга не загружена!</span>
              <% } %>

                <br />
                <a href="/books/">Смотреть всю библиотеку</a>

        </div>
      </div>
    </div>
  </div>



  <!-- БЛОК С ОТЗЫВАМИ -->
  <!-- TODO: Тут сделай нормально все - форма, обработчик сабмита, нэйминг кнопки, перевент дефолт, очистка поля, юльки и лишки, мапинг... -->

  <h2>Привет <span id="username"><%= user.username %></span>!</h2>

  <div class="container" style="display: grid; grid-template-columns: 1fr 3fr;">

    <div>
      <div>
        <div class="form-group">
          <label for="text">Сообщение</label>
          <textarea placeholder="message" class="form-control" id="text"></textarea>
        </div>
        <div>
          <button type="submit" id="send-room" class="btn btn-primary">Оставить отзыв</button>
        </div>
      </div>
    </div>

    <div class="row" style="margin-left: 50px">
      <div class="col-4">
        <h3>Отзывы</h3>
        <ul id="list" class="list-group" style="list-style: none">
          <% book.feedbacks.map((feedback, idx)=> { %>
            <li style="padding: 5px; margin-bottom: 3px; border: 1px solid lightgray">
              <p>
                <%= feedback.author %>
              </p>
              <p>
                <%= feedback.review %>
              </p>
              <p>
                <%= feedback.date %>
              </p>
            </li>
            <% }) %>
        </ul>
      </div>
    </div>

  </div>

  <script>
    const roomName = location.pathname.split('/').pop();
    const socket = io.connect('/', { query: `roomName=${roomName}` });
    const boxList = document.querySelector('#list');
    const inputUsername = document.querySelector('#username');
    const inputText = document.querySelector('#text');
    const sendRoom = document.querySelector('#send-room');

    const scrollToLastReview = () => {
      boxList.lastElementChild.scrollIntoView({behavior: "smooth"});
    }

    const getMessageTemplate = (msg) => {
      return (
        `
          <li style="padding: 5px; margin-bottom: 3px; border: 1px solid lightgray">
            <p>${msg.username}</p>
            <p>${msg.text}</p>
            <p>${msg.date}</p>
          </li>
        `
      );
    };

    socket.on('message-to-room', (msg) => {
      const messageItem = getMessageTemplate(msg)
      boxList.insertAdjacentHTML('beforeend', messageItem)
      scrollToLastReview();
    });

    // По нормальному это должен быть не див, а форма. Тогда событие сабмит с превент дефолтом.
    sendRoom.addEventListener('click', () => {
      socket.emit('message-to-room', {
        username: inputUsername.textContent,
        text: inputText.value,
        date: new Date().toISOString()
      })
      inputText.value = ''
    })
  </script>

  <%- include('../layouts/layout-end') %>